{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">

   

    <!-- <div class="col-lg-6 col-md-8 col-sm-12"> -->
      <div class=" col-md-4 col-md-6">
      <!-- <div class="shadow-lg p-3 mb-5 bg-body rounded" > -->
      <ul class="list-group" id="messages" >
        {% for msg in messages %}
        <!-- <div class="shadow mb-5 bg-body rounded" style="background-image: url(/static/images/wall.png);" > -->
          <!-- <div class="row justify-content-start">
          <div class="col-6 "> -->
          <div class="shadow mb-5 bg-body rounded" >
          
          <!-- <li class="list-group-item" style="background-image: url(/static/images/wall.png);"> -->
            <li class="list-group-item" >
            
            <a href="/messages/{{ msg.id  }}" class="message-link"  />
            <a href="/users/{{ msg.user.id }}">
              <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
            </a>
            <div class="message-area" style="font-family: 'Gochi Hand', cursive;" >
              <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
              <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
              <!-- <a href="">{{ msg.text }}</a> -->
              
              <p >{{ msg.text }}</p>
              <!-- <a href="https://music.apple.com/us/search?term={{msg.text}}" ><img src="/static/images/40.png" class="ms-link"></a> -->
              <a href="https://open.spotify.com/search/{{msg.text}}" ><img src="/static/images/spotify.png" class="ms-link"></a>
              <a href="https://music.youtube.com/search?q={{msg.text}}"><img src="/static/images/youtube.png" class="ms-link"></a>
            
              
            <form method="POST" action="/users/add_like/{{ msg.id }}" id="messages-form">
              <form method="POST" action="/users/{{ msg.id }}/like" class="messages-like">  
                <button class="
                  btn
                   btn-sm
                    {{'btn-primary' if msg.id in likes else 'btn-secondary'}}">
                
                  <i class="fa fa-thumbs-up"></i>  
                </button>
              </form>
            </form>
              </li>

              
        </div>
      <!-- </div>
          </div> -->
          
        
          <!-- <form method="POST" action="/users/add_like/{{ msg.id }}" class="messages-like">  
            <button class="
              btn 
              btn-sm 
              {{'btn-primary' if msg.id in likes else 'btn-secondary'}}"
            >
              <i class="fa fa-thumbs-up"></i> 
            </button>
          </form> -->
        {% endfor %}
      </ul>

      
    </div>
    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">

     


      <div class="card user-card">
        <div>
          <div class="image-wrapper">
            <!-- <img src="{{ g.user.header_image_url }}" alt="" class="card-hero"> -->
          </div>
          <a href="/users/{{ g.user.id }}" class="card-link">
            <img src="{{ g.user.image_url }}"
                 alt="Image for {{ g.user.username }}"
                 class="card-image">
            <!-- <p>@{{ g.user.username }}</p> -->
          </a>
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Posts</p>
              <h4>
                <a href="/users/{{ g.user.id }}">{{ g.user.messages | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Following</p>
              <h4>
                <a href="/users/{{ g.user.id }}/following">{{ g.user.following | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Followers</p>
              <h4>
                <a href="/users/{{ g.user.id }}/followers">{{ g.user.followers | length }}</a>
              </h4>
            </li>
          </ul>
          
            <!-- <ul>
        
              {% for message in likes %}


        
                <li>
                  
                  <a href="/messages/{{ message.id }}"/>
        
                <p>{{ message.text }}</p>
                </a>
                  
                </li>
        
              {% endfor %}
        
            </ul>
           -->
          
        </div>
        
      </div>
      


    </aside>
    </div>

  </div>
<!-- </div> -->
{% endblock %}
