{% extends 'base.html' %}
{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST">
        {{ form.csrf_token }}
        <div>
          {% if form.text.errors %}
            {% for error in form.text.errors %}
              <span class="text-danger">
            {{ error }}
          </span>
            {% endfor %}
          {% endif %}
          {{ form.text(placeholder="search Song!", class="form-control", rows="1") }}
        </div>
        <button class="btn btn-outline-success btn-block">Share</button>
      </form>
    </div>
  </div>

{% endblock %}